{% extends "base/_base.jinja2" %}
{% block title %}{% endblock %}
{% block header %}
    <a class="item" href="/">Stream</a>
    <a class="item" href="/circles">Circles</a>
    <a class="item" href="/users">Users</a>
    <a class="ui right item" href="/profile">Hi {{ user.user_id }}</a>
    <a class="item" href="/signout">Sign out</a>
{% endblock %}
{% block content %}{% endblock %}
