{% extends "base/_base_header.jinja2" %}
{% block title %}{% endblock %}
{% block header %}
    <a class="item" href="/">Stream</a>
    <a class="item" href="/circles">Circles</a>
    <a class="item" href="/users">Users</a>
    <div class="right menu">
        <a class="item" href="/profile">Hi {{ user.user_id }}</a>
        <a class="item" href="/signout">Sign out</a>
    </div>
{% endblock %}
{% block content %}{% endblock %}
