{% macro render_nested_comment(comment, parent_comment, post) %}
    <div class="comment">
        <a class="author" href={{ url_for('public_profile', user_id=comment.author.user_id) }}>
            {{ comment.author.user_id }}
        </a>
        <div class="metadata">
            <span class="date">{{ comment.created_at }}</span>
        </div>
        <div class="text">
            {{ comment.content }}
        </div>
        <div class="actions">
            <button class="comment-action">
                <a href={{ url_for('reply', post_id=post.id, comment_id=comment.id, next=request.path) }}>Reply</a>
            </button>
            {% if user.owns_nested_comment(comment, parent_comment, post) %}
                <form method="post" action={{ url_for('rm_nested_comment') }} style="display: inline">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}" readonly>
                    <input type="hidden" name="parent_comment_id" value="{{ parent_comment.id }}" readonly>
                    <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                    <button class="comment-action">Delete</button>
                </form>
            {% endif %}
        </div>
        {% if comment.comments %}
            <div class="comments">
                {% for nested_comment in comment.comments %}
                    {{ render_nested_comment(nested_comment, comment, post) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_comment(comment, post) %}
    <div class="comment">
        <div class="content">
            <a class="author" href={{ url_for("public_profile", user_id=comment.author.user_id) }}>
                {{ comment.author.user_id }}
            </a>
            <div class="metadata">
                <span class="date">{{ comment.created_at }}</span>
            </div>
            <div class="text">
                {{ comment.content }}
            </div>
            <div class="actions">
                <button class="comment-action">
                    <a href={{ url_for("reply", post_id=post.id, comment_id=comment.id, next=request.path) }}>Reply</a>
                </button>
                {% if user.owns_comment(comment, post) %}
                    <form method="post" action={{ url_for("rm_comment") }} style="display: inline">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}" readonly>
                        <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                        <button class="comment-action">Delete</button>
                    </form>
                {% endif %}
            </div>
            {% if comment.comments %}
                <div class="comments">
                    {% for nested_comment in comment.comments %}
                        {{ render_nested_comment(nested_comment, comment, post) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}