{% macro render_post(post, current_user) %}
    <div class="ui fluid raised card">
        <div class="content">
            {% if current_user.owns_post(post) %}
                <form method="post" action="/rm-post">
                    <input type="hidden" name="id" value="{{ post.id }}" readonly>
                    <button class="ui right floated icon negative button">
                        <i class="trash icon"></i>
                    </button>
                </form>
            {% endif %}
            <a class="author" href="/profile/{{ post.author.user_id }}">
                {{ post.author.user_id }}
            </a>
            <div class="meta">
                {% if current_user.owns_post(post) %}
                    {{ post.created_at }} to {{ post.sharing_scope_str }}
                {% else %}
                    {{ post.created_at }}
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="description">
                <p>
                    {{ post.content }}
                </p>
            </div>
        </div>
        {% if post.comments %}
            <div class="content">
                <div class="ui comments">
                    {% for comment in post.comments %}
                        <div class="ui comment">
                            <div class="content">
                                <a class="author" href="/profile/{{ comment.author.user_id }}">
                                    {{ comment.author.user_id }}
                                </a>
                                <div class="metadata">
                                    <span class="date">{{ comment.created_at }}</span>
                                </div>
                                {% if current_user.owns_comment(comment, post) %}
                                    <form method="post" action="/rm-comment" style="display: inline">
                                        <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}" readonly>
                                        <button class="mini ui red button">delete</button>
                                    </form>
                                {% endif %}
                                <div class="text">
                                    {{ comment.content }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="extra content">
            <form class="ui form" method="post" action="/add-comment">
                <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                <div class="fields">
                    <div class="twelve wide field">
                        <input name="content"/>
                    </div>
                    <div class="four wide field">
                        <button class="ui fluid blue button">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}