{% from "cards/_comment.jinja2" import render_comment %}

{% macro render_post(post, current_user) %}
    <div class="ui fluid raised card">
        <div class="content">
            {% if current_user.owns_post(post) %}
                <form method="post" action="/rm-post">
                    <input type="hidden" name="id" value="{{ post.id }}" readonly>
                    <button class="ui right floated icon negative button">
                        <i class="trash icon"></i>
                    </button>
                </form>
            {% endif %}
            <a class="author" href="/profile/{{ post.author.user_id }}">
                {{ post.author.user_id }}
            </a>
            <div class="meta">
                {% if current_user.owns_post(post) %}
                    {{ post.created_at }} to {{ post.sharing_scope_str }}
                {% else %}
                    {{ post.created_at }}
                {% endif %}
            </div>
        </div>
        <div class="content">
            {{ post.content }}
        </div>
        {% if post.comments %}
            <div class="content">
                <div class="ui comments">
                    {% for comment in post.comments %}
                        {{ render_comment(comment, post, current_user) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="extra content">
            <form class="ui form" method="post" action="/add-comment">
                <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                <div class="fields">
                    <div class="twelve wide field">
                        <input name="content"/>
                    </div>
                    <div class="four wide field">
                        <button class="ui fluid blue button">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}