{% from "_form.jinja2" import render_field, render_flashed_errors %}

{% macro render_share(share_form) %}
    <div class="ui fluid raised card">
        <div class="content">
            <form action="/add-post" class="ui form error" method="post">
                <div class="field">
                    {{ render_field(share_form.content, this_wants_label=False, placeholder="Say something...", rows=2) }}
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui slider checkbox">
                            <input id="{{ share_form.is_public.name }}" name="{{ share_form.is_public.name }}" type="checkbox">
                            {{ share_form.is_public.label }}
                        </div>
                    </div>
                    <div class="eight wide field">
                        {{ render_field(share_form.circles, this_wants_label=False, class="ui dropdown") }}
                    </div>
                    <div class="four wide field">
                        <button class="ui fluid positive button">Post</button>
                    </div>
                </div>
                {{ render_flashed_errors() }}
            </form>
        </div>
    </div>
{% endmacro %}
