{% from "_form.jinja2" import render_field, render_errors %}

{% macro render_share(share_form) %}
    <div class="ui fluid raised card">
        <div class="content">
            <form class="ui form error" method="post">
                <div class="field">
                    {{ render_field(share_form.content, this_wants_label=False, placeholder="Say something...", rows=2) }}
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui slider checkbox">
                            {{ render_field(share_form.is_public) }}
                        </div>
                    </div>
                    <div class="eight wide field">
                        {{ render_field(share_form.circles, this_wants_label=False, class="ui dropdown") }}
                    </div>
                    <div class="four wide field">
                        <button class="ui fluid green button">Post</button>
                    </div>
                </div>
                {{ render_errors(share_form) }}
            </form>
        </div>
    </div>
{% endmacro %}
