<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<article>
    {% block content %}{% endblock %}
</article>
<footer>
    mini-gplus v1.0
</footer>
</body>
</html>