<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js') }}"></script>
    <!-- Semantic UI -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
    <!-- Custom style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header class="ui fixed menu">
    {% block header %}{% endblock %}
</header>
<article class="ui main container">
    {% block content %}{% endblock %}
</article>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>