{% macro render_errors(form) %}
    {% if form.errors %}
        <div class="ui error message">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <p>{{ field }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field, this_wants_label=True) %}
    {% if this_wants_label %}
        {{ field.label }}
    {% endif %}
    {{ field(**kwargs)| safe }}
{% endmacro %}