{% macro errors(form) %}
    {% if form.errors %}
        <div class="ui error message">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <p>{{ field }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro field(field) %}
    <label>{{ field.label }}</label>
    {{ field(**kwargs)| safe }}
{% endmacro %}