{% macro field(field) %}
    <div class="field">
        <label>{{ field.label }}</label>
        {{ field(**kwargs)| safe }}
    </div>
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="ui error message">
                <p>{{ error }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}