{% macro header(current_page) %}
    {% if current_page == '/' %}
        Stream | <a href="/circles">Circles</a> | <a href="/users">Users</a> | <a href="/profile">Profile</a>
    {% elif current_page == '/circles' %}
        <a href="/">Stream</a> | Circles | <a href="/users">Users</a> | <a href="/profile">Profile</a>
    {% elif current_page == '/users' %}
        <a href="/">Stream</a> | <a href="/circles">Circles</a> | Users | <a href="/profile">Profile</a>
    {% elif current_page == '/profile' %}
        <a href="/">Stream</a> | <a href="/circles">Circles</a> | <a href="/users">Users</a> | Profile
    {% endif %}
{% endmacro %}