{% from "_header.jinja2" import header %}

<html>
<head>
    <title>Circles | mini-gplus</title>
</head>
<body>
<nav>
    {{ header('/circles') }} | Hi {{ current_user.user_id }} <a href="/signout">Signout</a>
</nav>
TBD
</body>
</html>