{% extends "_base_user.jinja2" %}
{% from "_form.jinja2" import render_field, render_errors %}
{% block title %}mini-gplus{% endblock %}
{% block content %}
    <div class="ui fluid card">
        <div class="content">
            <p>Share</p>
        </div>
        <div class="content">
            <form class="ui form error" method="post">
                <div class="field">
                    {{ render_field(form.content, this_wants_label=False, placeholder="Say something...", rows=2) }}
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="ui slider checkbox">
                            {{ render_field(form.is_public) }}
                        </div>
                    </div>
                    <div class="twelve wide field">
                        {{ render_field(form.circles, this_wants_label=False, class="ui dropdown") }}
                    </div>
                </div>
                {{ render_errors(form) }}
                <button class="ui submit button">Post</button>
            </form>
        </div>
    </div>
    {% for post in posts %}
        <div class="ui fluid card">
            <div class="content">
                {% if post.owned_by(current_user) %}
                    <form method="post" action="/rmpost" style="display: inline">
                        <input type="hidden" name="id" value="{{ post.id }}" readonly>
                        <button class="ui right floated icon negative button">
                            <i class="trash icon"></i>
                        </button>
                    </form>
                {% endif %}
                <div class="header">
                    {{ post.author.user_id }}
                </div>
                <div class="meta">
                    {% if post.owned_by(current_user) %}
                        @{{ post.created_at }} to {{ post.sharing_scope_str }}
                    {% else %}
                        @{{ post.created_at }}
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <div class="description">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </div>
            <div class="content">
                <ul>
                    {% for comment in post.comments %}
                        <li>
                            {% if comment.owned_by(current_user, post) %}
                                <form method="post" action="/rmcomment" style="display: inline">
                                    {{ comment.author.user_id }} @{{ comment.created_at }}: {{ comment.content }}
                                    <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}" readonly>
                                    <input type="submit" value="Delete">
                                </form>
                            {% else %}
                                {{ comment.author.user_id }} @{{ comment.created_at }}: {{ comment.content }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li>
                        <form method="post" action="/addcomment">
                            <input type="hidden" name="post_id" value="{{ post.id }}" readonly>
                            <input name="content">
                            <input type="submit" value="Comment">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
