{% extends "base/_base_headerless.jinja2" %}
{% block title %}Reply | mini-gplus{% endblock %}
{% block content %}
    <div class="ui fluid raised card">
        <div class="content">
            {% if not comment_id %}
                <form class="ui form" method="post" action={{ url_for("add_comment", next=next) }}>
            {% else %}
                <form class="ui form" method="post" action={{ url_for("add_nested_comment", next=next) }}>
            {% endif %}
            <input type="hidden" name="post_id" value="{{ post_id }}" readonly>
            <input type="hidden" name="comment_id" value="{{ comment_id }}" readonly>
            <div class="field">
                <input name="content" />
            </div>
            <div class="fields">
                <div class="field">
                    <a href="{{ next }}" class="ui button">Discard</a>
                </div>
                <div class="field">
                    <button class="ui blue button">Reply</button>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
