{% extends "_base_guest.jinja2" %}
{% from "_form.jinja2" import field, errors %}
{% block title %}Sign up | mini-gplus{% endblock %}
{% block content %}
    <form class="ui form error" method='post'>
        <section class="field">
            {{ field(form.id) }}
        </section>
        <section class="field">
            {{ field(form.password) }}
        </section>
        <section class="field">
            {{ field(form.confirm_password) }}
        </section>
        {{ errors(form) }}
        <button class="ui submit button">Sign up</button>
    </form>
{% endblock %}
