{% from "_formhelpers.jinja2" import render_field %}

<html>
<head>
    <title>Sign in | mini-gplus</title>
</head>
<body>
<form method=post>
    <dl>
        {{render_field(form.id)}}
        {{render_field(form.password)}}
    </dl>
    <p><input type=submit value='Signin'>
</form>
<a href="/signup">Sign up here</a>
</body>
</html>