{% extends "_base_guest.jinja2" %}
{% from "_form.jinja2" import field %}
{% block title %}Sign in | mini-gplus{% endblock %}
{% block content %}
<form method='post'>
    {{ field(form.id) }}
    {{ field(form.password) }}
    <input type='submit' value='Sign in'>
</form>
{% endblock %}