{% from "_formhelpers.jinja2" import render_field %}

<html>
<head>
    <title>Sign up</title>
</head>
<body>
<form method=post>
    <dl>
        {{render_field(form.id)}}
        {{render_field(form.password)}}
        {{render_field(form.confirm_password)}}
    </dl>
    <p><input type=submit value='Signup'>
</form>
</body>
</html>