{% from "_form.jinja2" import field %}

<html>
<head>
    <title>Sign up | mini-gplus</title>
</head>
<body>
<form method=post>
    {{ field(form.id) }}
    {{ field(form.password) }}
    {{ field(form.confirm_password) }}
    <input type=submit value='Sign up'>
</form>
</body>
</html>