{% from "_form.jinja2" import field %}

<html>
<head>
    <title>Sign in | mini-gplus</title>
</head>
<body>
<form method=post>
    {{ field(form.id) }}
    {{ field(form.password) }}
    <input type=submit value='Sign in'>
</form>
<a href="/signup">Sign up</a>
</body>
</html>