{% extends "base/_base_user.jinja2" %}
{% block title %}Users | mini-gplus{% endblock %}
{% block content %}
    {% if users %}
        {% for user in users %}
            <div class="ui fluid raised card">
                <div class="content">
                    <a href="/profile/{{ user.user_id }}">
                        {{ user.user_id }}
                    </a>
                </div>
                {% if circles %}
                    <div class="content">
                        {% for circle in circles %}
                            <form method="post" action="/toggle-member" style="display: inline">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="circle_id" value="{{ circle.id }}">
                                {% if circle.check_member(user) %}
                                    <button class="ui labeled icon negative button">
                                        <i class="minus icon"></i>
                                        {{ circle.name }}
                                    </button>
                                {% else %}
                                    <button class="ui labeled icon positive button">
                                        <i class="add icon"></i>
                                        {{ circle.name }}
                                    </button>
                                {% endif %}
                            </form>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No other users, yet...</p>
    {% endif %}
{% endblock %}